.header {
	height: 27px;
	background-image: url(../images/top_bg.jpg);
	background-repeat: repeat-x;
}

a {
	text-decoration: none;
}

* {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

body {
	background-color: #F5F5F5;
}

.header ul {
	float: right;
}

.header ul li {
	margin-left: 20px;
	float: left;
	list-style: none;
	padding-left: 15px;
	background-image: url(../images/arrow.jpg);
	background-repeat: no-repeat;
	background-position: 0px center;
	line-height: 27px;
}

.header a {
	color: #8E8E8E;
}

.wrap {
	background-color: white;
	width: 960px;
	margin: 0px auto;
}

.logo {}

.logo_left {
	float: left;
}

.logo_right {
	width: 400px;
	height: 80px;
	float: right;
	line-height: 80px;
}

.span_1 {
	font-size: 12px;
	color: #8E8E8E;
	display: inline-block;
	padding-left: 33px;
	width: 150px;
	height: 28px;
	line-height: 28px;
	background-image: url(../images/tel.jpg);
	background-repeat: no-repeat;
}

.span_2 {
	font-family: "微软雅黑";
	font-size: 22px;
	color: #C00;
}

.logo_right img {
	display: inline-block;
}

.clear {
	clear: both;
	height: 0px;
}

.nav {
	
	margin-bottom: 3px;
	padding-top: 20px;
}

nav {
	position: relative;
	height: 40px;
	background-color: #999999;
	border-radius: 5px;
}
.nav_mid_right{
	top:7px;
	position: absolute;
	right: 50px;
	
}
.search_text{
	width: 140px;
	height: 25px;
	background: url(../images/search.jpg) no-repeat right center;
    background-color: #FFF;
    border: 1px solid #FFF;
    padding-right: 25px;
	
}
nav ul li {
	text-align: center;
	line-height: 40px;
	display: inline-block;
	width: 80px;
	color: white;
}

.ad img {
	margin: 0px auto;
	border: 0px;
	width: 967px;
}

.left {
 
	float: left;
	width: 340px;
	border: 1px solid #CCCCCC;
}

.right {
	height: 228px;
	border: 1px solid #CCCCCC;
	float: right;
	width: 200px;
 
}

.middle {
	border: 1px solid #CCCCCC;
	margin-left: 343px;
	margin-right: 203px;
	height: 228px;
}

.title {
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	position: relative;
	font-size: 14px;
	color: #666666;
	border-bottom: 1px solid #cccccc;
}

.title span {
	position: absolute;
	right: 6px;
}

.left_le {
	float: left;
}

.left_ri {
	width: 200px;
	float: left;
	margin-left: 2px;
}

.left_content ,.middle_content {
	padding-left: 2px;
	padding-top: 10px;
}
.left li{
	padding-bottom: 2px;
	margin-bottom: 5px;
	position: relative;
	padding-left: 12px;
	background-image: url(../images/list.jpg);
	background-repeat: no-repeat;
	border-bottom: dashed 1px #cccccc;
}
.left_content p{
	padding-left: 2px;
	line-height: 24px;
}
p.sicpec{
	line-height: 18px;
}
.time{
	position: absolute;
	right: 0px;
	
	color: #CCCCCC;
	font-size: 12px;
}
.left ul {
	padding-left: 2px;
}
.video_content{
	height: 150px;
}
.name{
	color: red;
}
 .middle ul{
 	text-align: center;
 }
.middle ul li{
	color: darkgray;
	margin-right: 5px;
	display: inline-block;
	
}
.middle_content{
	height: 140px;
}
.service img{
	width: 200px;
	height: 48px;
}
.footer{
	height: 130px;
	background-color: #E8E8E8;
	margin-top:10px;
	padding-top: 10px;
}
.wrap_anther{
	width: 960px;
	margin: 0px auto;
	height: 10px;
	
	 
}
.footer ul {
	border-right: 1px solid white;
	float: left;
	width: 180px;
	
}
.footer ul li{
	text-align: center;
	color: #786F66;
	line-height: 24px;
}
.one{
	font-weight: bold;
	font-size: 16px;
}
